<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- partial('header') %>
  </head>
  <body>
    <div class="container">
      <div style="margin: 50px;"><label style="color: #d93025;"><%= message %></label></div><br></br>
      <a href="/"><button type="button">Home</button></a>
    </div>
    <script type="text/javascript" src="/js/master.js"></script>
  </body>
</html>
