<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- partial('header') %>
  </head>
  <body>
    <div class="container">
      <div class="navigator">
        <div class="inlinecontainer">
          <img src="logo.png" alt="모두이" class="logo"></img>
        </div>
        <div class="buttoncontainer">
          <a href="/login"><button>로그인</button></a>
          <a href="/users/new"><button>가입</button></a>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="/js/master.js"></script>
  </body>
</html>
