<div class="navigator">
  <div class="inlinecontainer">
    <div class="hoverer">
      <a href="/"><img src="logo.png" alt="모두이" class="logo"></img></a>
      <div class="navigatorMenu">
        <a href="/supports"><button>지원 학교</button></a>
      </div>
    </div>
  </div>
  <div class="buttoncontainer">
    <div class="hoverer">
      <div class="navigatorMenu">
        <% if (user) { %>
          <a href="/users/<%= user.username %>"><button><%= user.username %></button></a>
          <a href="/logout"><button>로그아웃</button></a>
        <% } else { %>
          <a href="/login"><button>로그인</button></a>
          <a href="/users/new"><button>가입</button></a>
        <% } %>
      </div>
    </div>
  </div>
</div>
