<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- partial('header') %>
  </head>
  <body>
    <%- partial('navigator') %>
    <div class="container">
      <div class="innerContainer">
        <button class="textButton">서정중학교</button>
      </div>
    </div>
    <script type="text/javascript" src="/js/master.js"></script>
  </body>
</html>
