* {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #3c4043;
  outline: none;
  text-decoration: none;
  line-break: break-all;
}
.container {
  display: block;
  margin: 15px 30px;
  background-color: white;
}
.inlinecontainer, .logo {
  display: inline-block;
}
.navigator {
  display: inline-block;
}
.logo {
  display: block;
  width: 150px;
  height: 50px;
  margin: 15px 30px;
}
.buttoncontainer {
  display: inline-block;
}
.navigator .buttoncontainer {
  position: fixed;
  top: 0;
  right: 0;
}
.hoverer {
  display: flex;
}
.navigatorMenu {
  display: flex;
  margin: 15px 30px;
}
.textButton {
  width: 100%;
  text-align: left;
}
.innerContainer {
  display: block;
}
.head {
  font-size: 30px;
}
.exam {
  width: 300px;
  height: 400px;
}
.upcomingExamList {
  margin: 15px;
}
.errorContainer {
  width: 400px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  border-radius: 50px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
button {
  display: block;
  margin: 50px;
}
img:active, img:focus {
  margin: 5px;
}
button:active, input:active, button:focus, input:focus, textarea:active, textarea:focus, img:active, img:focus {
  border: 1.5px solid #4F91FE;
  border-width: 1.5px;
  margin: 3.5px;
}
img {
  border-radius: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
button, input, textarea {
  text-decoration: none;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 12px 20px;
  font-size: 15px;
  margin: 5px;
  border: 0px solid #4F91FE;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  border-width: 0px;
  cursor: pointer;
}
button:hover, input:hover {
  background-color: #F4F4F4;
}
button:focus, button:active {
  background-color: #E0E0E0;
}
button .ripple {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  transform: scale(2.5);
  opacity: 0.16;
  position: absolute;
  animation: ripple 0.4s linear;
}
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.16;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.longInput {
  width: calc(100% - 55px);
}
.outter {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin: auto;
  width: 350px;
  border: 1px solid #dadce0;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  height: auto;
  min-height: 400px;
  position: relative;
}
.innerContainer {
  display: table;
  margin: 0 auto;
}
